#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# The other tricks didn't work
# See https://wiki.debian.org/Hardening
# Notes_for_packages_using_CMake
export DEB_BUILD_HARDENING=1
export DEB_BUILD_MAINT_OPTIONS = hardening=+all

#CPPFLAGS:=$(shell dpkg-buildflags --get CPPFLAGS)
#CFLAGS:=$(shell dpkg-buildflags --get CFLAGS) $(CPPFLAGS)
#CXXFLAGS:=$(shell dpkg-buildflags --get CXXFLAGS) $(CPPFLAGS)
#LDFLAGS:=$(shell dpkg-buildflags --get LDFLAGS)

export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

%:
	dh $@ \
	--parallel \
	--buildsystem=cmake \
	--builddirectory=build \

override_dh_auto_configure:
	dh_auto_configure -- \
	-DWITH_SYSTEMD=ON \
	-DSYSCONF_INSTALL_DIR=/etc \
	-DLOCAL_STATE_DIR=/var \
	
.PHONY: override_dh_strip
override_dh_strip:

	
.PHONY: override_dh_installchangelogs
override_dh_installchangelogs:

